body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Pacifico', cursive;
    background-image: url('img/background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

canvas {
    background-color: black;
    display: block;
}

.d-none {
    display: none;
}

.canvas-div {
    position: relative;
}

.for-canvas-fullscreen {
    height: 100vh;
    width: 100vw;
}

.icons-during-game {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 600px;
}

.icons-div-game {
    display: flex;
    justify-content: flex-end;
}

.start-screen {
    display: flex;
    justify-content: space-between;
    width: 720px;
    height: 480px;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.start-screen-properties-for-canvas {
    display: flex;
    justify-content: space-between;
}

.icon-within-the-game {
    display: flex;
}

.icon {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #FFD111;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    padding: 4px;
    font-family: 'Smokum', cursive;
    margin-top: 10px;
    margin-right: 4px;
}

.fullscreen-icon {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #FFD111;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    padding: 4px;
    font-family: 'Smokum', cursive;
    margin-top: 10px;
    margin-right: 10px;
}

button {
    width: 120px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgb(153, 68, 9);
    color: #FFD111;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    font-family: 'Smokum', cursive;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: 800;
}


.intro-text {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    opacity: 0.9;
    font-size: 18px;
    color: #5e2028;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.console-keyboard {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    opacity: 0.9;
    font-size: 19px;
    color: #5e2028;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.back-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    cursor: pointer;
}

.back-icon:hover {
    opacity: 0.7;
}

.console {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.console-child {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 20px;
    font-size: 30px;
}

.throwable-keyboard {
    margin-right: 10px;
    color: black;
}

/* ------------------- Responsive ----------------*/
/* Smartphones -----------------*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones -----------------*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}
